@mixin highlightDate() {
  color: rgb(29, 29, 29);
  background-color: rgb(245, 245, 245);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.iconcontainer {
  font-size: 1.6rem;
  padding: 0 10px 4px 10px;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

.simplebooker-main {
    background-color: rgb(240, 240, 240);
    width: 20rem;
    box-shadow: 2px 2px 7px #f0f0f0;
    margin: auto;
}

.datenumbers-container {
    background-color: rgb(255, 255, 255);
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 5px;
}

.datenumbers {
    color: rgb(110, 110, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    
    &:hover {
        @include highlightDate();
    }

}

.highlight {
  @include highlightDate();
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 6rem;
    display: flex;
    justify-content: center;
  }

  .yearpicker {
    @extend .dropbtn;
    background-color: transparent;
    color: black;
    font-size: 0.9rem;
    &:hover, &:focus {
      background-color: rgb(236, 236, 236) !important;
    }
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* Container for year and month picker buttons */
  .yearmonth-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* Container for all month buttons */
  .monthbuttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .year-dropdown-content {
    @extend .dropdown-content;
    min-width: 6rem;
  }
  
  /* Links inside the dropdown */
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content li:hover {background-color: #ddd; cursor: pointer}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}